
@media (min-width: 1025px) {
  .container {
      width: 1440px; 
  }
}


@media (max-width: 1024px) and (min-width: 768px) {
  .container {
      width: 90%; 
      height: auto; 
      min-height: auto;
  }
}


@media (max-width: 767px) {
  .container {
      width: 90%;
      min-width: 350px;
      height: auto;
      min-height: auto;
      padding: 10px;
  }
}

@media (max-width: 350px) {
  .container {
      width: 100%;
      min-width: 100%;
      height: auto;
      padding: 5px;
  }
}
